{"openapi": "3.1.0", "info": {"title": "SearchAtlas API", "description": "# SearchAtlas API Documentation\n\nEach service has its own base URL. All endpoints require `X-API-Key` header.\n\nGet your key at [Dashboard - API Settings](https://dashboard.searchatlas.com/settings?active_section=api).", "version": "1.0.0", "contact": {"name": "SearchAtlas", "url": "https://searchatlas.com"}}, "servers": [{"url": "https://api.searchatlas.com", "description": "Default"}], "security": [{"apiKeyAuth": []}], "paths": {"/api/playbooks/quick-run-playbooks/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Playbooks"], "operationId": "listQuickRunPlaybooks", "summary": "List quick-run playbooks", "description": "Returns playbooks suitable for the \"Quick Run\" panel - typically public/VIP playbooks\nthat can be started immediately without configuration.\n", "parameters": [{"name": "agent_namespace", "in": "query", "schema": {"type": "string"}, "description": "Filter by agent namespace (e.g. `otto`, `orchestrator`, `content-genius`)"}], "responses": {"200": {"description": "List of quick-run playbooks", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/PlaybookListItem"}}}}}}}}, "/api/playbooks/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Playbooks"], "operationId": "listPlaybooks", "summary": "Search / list playbooks", "description": "Returns a paginated list of playbooks. Supports filtering by agent namespace,\nownership type, tags, and free-text search.\n", "parameters": [{"name": "search", "in": "query", "schema": {"type": "string"}, "description": "Free-text search across name and description"}, {"name": "agent_namespace", "in": "query", "schema": {"type": "string"}, "description": "Filter by agent namespace"}, {"name": "ownership_type", "in": "query", "schema": {"type": "string", "enum": ["public", "private", "vip"]}, "description": "Filter by ownership type"}, {"name": "tags", "in": "query", "schema": {"type": "string"}, "description": "Comma-separated tag slugs"}, {"name": "page", "in": "query", "schema": {"type": "integer"}}, {"name": "page_size", "in": "query", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Paginated list of playbooks", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedPlaybookList"}}}}}}, "post": {"tags": ["AI Agent: Playbooks"], "operationId": "createPlaybook", "summary": "Create playbook", "description": "Creates a new private playbook. Rate-limited per user.\nSupports bi-directional tag/namespace sync:\nif `tag_ids` is provided, `agent_namespaces` is derived from tags;\nif `agent_namespaces` is provided, tags are derived from namespaces.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybookCreateRequest"}, "example": {"name": "Weekly SEO Review", "description": "Analyzes top-performing pages and suggests improvements", "instruction": "Review the site's top 10 pages by organic traffic. For each page, check keyword alignment, title/meta quality, and Core Web Vitals. Summarize top 3 improvements per page.", "agent_namespaces": ["otto"], "ownership_type": "private"}}}}, "responses": {"201": {"description": "Playbook created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybookDetail"}}}}, "400": {"description": "Validation error (name too short, duplicate name, invalid references)"}, "429": {"description": "Rate limit exceeded"}}}}, "/api/playbooks/{playbookId}/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Playbooks"], "operationId": "fetchPlaybookDetails", "summary": "Get playbook details", "description": "Returns full playbook including instruction content, mission template, and credit range.", "parameters": [{"$ref": "#/components/parameters/PlaybookId"}], "responses": {"200": {"description": "Playbook details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybookDetail"}}}}, "404": {"description": "Playbook not found"}}}, "put": {"tags": ["AI Agent: Playbooks"], "operationId": "updatePlaybook", "summary": "Full update playbook", "description": "Replaces all mutable playbook fields. Only the owner can update.", "parameters": [{"$ref": "#/components/parameters/PlaybookId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybookCreateRequest"}}}}, "responses": {"200": {"description": "Playbook updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybookDetail"}}}}, "400": {"description": "Validation error"}, "403": {"description": "Not the owner"}, "404": {"description": "Playbook not found"}}}, "patch": {"tags": ["AI Agent: Playbooks"], "operationId": "patchPlaybook", "summary": "Partial update playbook", "description": "Partially updates a playbook. Pass `?is_active=false` to archive the playbook\n(soft-delete that can be recovered via `recover-all-archives`).\n", "parameters": [{"$ref": "#/components/parameters/PlaybookId"}, {"name": "is_active", "in": "query", "schema": {"type": "boolean"}, "description": "Pass `false` to archive the playbook"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybookCreateRequest"}}}}, "responses": {"200": {"description": "Playbook updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybookDetail"}}}}, "403": {"description": "Not the owner"}, "404": {"description": "Playbook not found"}}}, "delete": {"tags": ["AI Agent: Playbooks"], "operationId": "deletePlaybook", "summary": "Delete (archive) playbook", "description": "Soft-deletes (archives) the playbook. Pass `?hard=true` for permanent deletion.\nArchived playbooks can be recovered with `POST /api/playbooks/recover-all-archives/`.\n", "parameters": [{"$ref": "#/components/parameters/PlaybookId"}, {"name": "hard", "in": "query", "schema": {"type": "boolean"}, "description": "Pass `true` for permanent deletion"}], "responses": {"204": {"description": "Playbook deleted"}, "403": {"description": "Not the owner"}, "404": {"description": "Playbook not found"}}}}, "/api/playbooks/{playbookId}/clone/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Playbooks"], "operationId": "clonePlaybook", "summary": "Clone playbook", "description": "Creates a private copy of a public or shared playbook for the authenticated user.\nRate-limited. Optionally provide a custom name for the clone.\n", "parameters": [{"$ref": "#/components/parameters/PlaybookId"}], "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "maxLength": 200, "description": "Optional custom name for the cloned playbook"}}}}}}, "responses": {"201": {"description": "Playbook cloned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybookDetail"}}}}, "404": {"description": "Source playbook not found"}, "429": {"description": "Rate limit exceeded"}}}}, "/api/playbooks/recover-all-archives/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Playbooks"], "operationId": "recoverAllArchivedPlaybooks", "summary": "Recover all archived playbooks", "description": "Bulk unarchives all soft-deleted (archived) playbooks for the authenticated user.", "responses": {"200": {"description": "All archived playbooks recovered", "content": {"application/json": {"schema": {"type": "object", "properties": {"recovered_count": {"type": "integer"}}}}}}}}}, "/api/playbooks/delete-all-archives/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Playbooks"], "operationId": "deleteAllArchivedPlaybooks", "summary": "Permanently delete all archived playbooks", "description": "Bulk permanently deletes all archived playbooks for the authenticated user. Irreversible.", "responses": {"200": {"description": "All archived playbooks deleted", "content": {"application/json": {"schema": {"type": "object", "properties": {"deleted_count": {"type": "integer"}}}}}}}}}, "/api/playbooks/icons/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Playbooks"], "operationId": "listPlaybookIcons", "summary": "List available playbook icons", "description": "Returns all active icons that can be assigned to playbooks. Response is cached.", "responses": {"200": {"description": "List of icons", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/PlaybookIcon"}}}}}}}}, "/api/agent/projects/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Agent Projects"], "operationId": "listAgentProjects", "summary": "List agent projects", "description": "Returns all agent projects for the authenticated account.", "responses": {"200": {"description": "List of agent projects", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/AgentProject"}}}}}}}, "post": {"tags": ["AI Agent: Agent Projects"], "operationId": "createAgentProject", "summary": "Create agent project", "description": "Creates a new agent project for a domain. Optionally triggers project setup\nin the LinkGraph system via `setup_project=true`.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentProjectCreateRequest"}, "example": {"domain": "example.com", "country_code": "US", "location": "New York, NY", "setup_project": false}}}}, "responses": {"201": {"description": "Agent project created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentProject"}}}}, "400": {"description": "Validation error"}}}}, "/api/agent/orchestrator/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamOrchestratorMessage", "summary": "Send message to Atlas Brain (orchestrator)", "description": "Sends a message to the Atlas Brain multi-agent coordinator.\nReturns `202 Accepted` immediately. The response streams over the WebSocket\nconnection for the session identified in the request body.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted - response delivered via WebSocket", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/otto/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamOttoMessage", "summary": "Send message to OTTO SEO brain", "description": "Sends a message to the OTTO SEO optimization agent.\nReturns `202 Accepted`; response streams over WebSocket.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/otto/status/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Streaming"], "operationId": "getOttoStatus", "summary": "Get OTTO session status", "description": "Returns the current processing status for an OTTO agent session.", "parameters": [{"name": "session_id", "in": "query", "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "OTTO session status", "content": {"application/json": {"schema": {"type": "object", "properties": {"status": {"type": "string"}, "session_id": {"type": "string", "format": "uuid"}}}}}}}}}, "/api/agent/otto-ppc/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamOttoPPCMessage", "summary": "Send message to Ad Brain (OTTO PPC)", "description": "Sends a message to the OTTO PPC (Smartads) agent for Google Ads optimization.\nReturns `202 Accepted`; response streams over WebSocket.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/content-genius/chat/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamContentGeniusMessage", "summary": "Send message to Content Genius", "description": "Sends a message to the Content Genius agent. Supports brand vault and article context\nfor content creation workflows. Returns `202 Accepted`; response streams over WebSocket.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/website-studio/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamWebsiteStudioMessage", "summary": "Send message to Website Studio agent", "description": "Sends a message to the Landing Page / Website Studio agent.\nReturns `202 Accepted`; response streams over WebSocket.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/local-seo-gbp/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamLocalSeoGbpMessage", "summary": "Send message to GBP / Local SEO brain", "description": "Sends a message to the Local SEO (Google Business Profile) agent.\nReturns `202 Accepted`; response streams over WebSocket.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/local-seo-heatmaps/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamLocalSeoHeatmapsMessage", "summary": "Send message to GBP heatmaps specialist", "description": "Sends a message to the GBP heatmaps specialist agent. Returns `202 Accepted`.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/local-seo-citations/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamLocalSeoCitationsMessage", "summary": "Send message to GBP citations specialist", "description": "Sends a message to the GBP citations specialist agent. Returns `202 Accepted`.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/authority-building/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamAuthorityBuildingMessage", "summary": "Send message to Authority Building brain", "description": "Sends a message to the Authority Building agent. Returns `202 Accepted`.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/site-explorer/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamSiteExplorerMessage", "summary": "Send message to Site Explorer brain", "description": "Sends a message to the Site Explorer agent. Returns `202 Accepted`.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/llm-visibility/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamLLMVisibilityMessage", "summary": "Send message to LLM Visibility brain", "description": "Sends a message to the LLM Visibility agent. Returns `202 Accepted`.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/keywords/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Streaming"], "operationId": "streamKeywordsMessage", "summary": "Send message to Keywords brain", "description": "Sends a message to the Keywords research agent. Returns `202 Accepted`.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageRequest"}}}}, "responses": {"202": {"description": "Message accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AgentMessageAccepted"}}}}}}}, "/api/agent/sessions/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Sessions"], "operationId": "listSessions", "summary": "List chat sessions", "description": "Returns a paginated list of conversation sessions for the authenticated user.\nFilter by agent namespace, or search by session title.\n", "parameters": [{"name": "agent_namespace", "in": "query", "schema": {"type": "string"}, "description": "Filter by agent namespace (e.g. `otto`, `orchestrator`)"}, {"name": "search", "in": "query", "schema": {"type": "string"}, "description": "Search session titles"}, {"name": "page", "in": "query", "schema": {"type": "integer"}}, {"name": "page_size", "in": "query", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Paginated list of sessions", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedSessionList"}}}}}}}, "/api/agent/sessions/{conversationId}/messages/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Sessions"], "operationId": "getSessionMessages", "summary": "Get session messages", "description": "Returns all messages in a conversation session, ordered by timestamp.\nInternal fields (`tool_calls`, `tool_results`) are stripped from assistant message content.\n", "parameters": [{"$ref": "#/components/parameters/ConversationId"}], "responses": {"200": {"description": "List of messages", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ChatMessage"}}}}}, "404": {"description": "Session not found"}}}}, "/api/agent/sessions/{conversationId}/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "patch": {"tags": ["AI Agent: Sessions"], "operationId": "updateSession", "summary": "Update session (rename or soft-delete)", "description": "Updates a session's title or active status.\nPass `is_active: false` to soft-delete (archive) the session.\n", "parameters": [{"$ref": "#/components/parameters/ConversationId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SessionUpdateRequest"}}}}, "responses": {"200": {"description": "Session updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatSession"}}}}, "404": {"description": "Session not found"}}}}, "/api/agent/sessions/regenerate/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Sessions"], "operationId": "regenerateMessage", "summary": "Regenerate assistant response", "description": "Soft-deletes the specified assistant message and re-triggers generation from its parent user message.\nThe new response streams over WebSocket. Returns the user message details and deleted message ID.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["message_id"], "properties": {"message_id": {"type": "string", "format": "uuid", "description": "UUID of the assistant message to regenerate"}}}}}}, "responses": {"200": {"description": "Regeneration triggered", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegenerateResponse"}}}}, "400": {"description": "Message not found, not an assistant message, or no parent user message"}}}}, "/api/agent/shared/session/{sessionId}/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Sessions"], "operationId": "getSharedSession", "summary": "Get shared session (public)", "description": "Returns a sanitized read-only view of a publicly shared conversation session.\nDoes not require authentication. Rate-limited.\nSensitive fields (IDs, user data, tool calls) are excluded.\n", "security": [], "parameters": [{"name": "sessionId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Shared session with sanitized messages", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SharedSession"}}}}, "404": {"description": "Shared session not found"}, "429": {"description": "Rate limit exceeded"}}}}, "/api/agent/shared/message/{messageId}/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Sessions"], "operationId": "getSharedMessage", "summary": "Get shared message (public)", "description": "Returns a sanitized view of a single shared message pair (user question + assistant answer).\nDoes not require authentication. Rate-limited.\n", "security": [], "parameters": [{"name": "messageId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Shared message pair", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SharedMessagePair"}}}}, "404": {"description": "Shared message not found"}}}}, "/api/agent/message-feedback/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "post": {"tags": ["AI Agent: Sessions"], "operationId": "createMessageFeedback", "summary": "Submit message feedback", "description": "Creates or updates (upserts) a thumbs-up/thumbs-down feedback on an assistant message.\nOnly assistant messages can receive feedback.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MessageFeedbackRequest"}, "example": {"message_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6", "impression": "thumbs_up", "feedback_message": "Very helpful breakdown of the keyword opportunities"}}}}, "responses": {"200": {"description": "Feedback created or updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MessageFeedback"}}}}, "400": {"description": "Message not found or not an assistant message"}}}}, "/api/agent/message-feedback/{messageId}/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "delete": {"tags": ["AI Agent: Sessions"], "operationId": "deleteMessageFeedback", "summary": "Remove message feedback", "description": "Removes the user's feedback on a specific message.", "parameters": [{"name": "messageId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}, "description": "Message UUID (not feedback ID)"}], "responses": {"204": {"description": "Feedback removed"}, "404": {"description": "Feedback not found"}}}}, "/api/agent/artifacts/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Artifacts"], "operationId": "listArtifacts", "summary": "List artifacts", "description": "Returns a paginated list of artifacts produced across all sessions for the authenticated user.\nFilter by session, activity type, or agent namespace.\n", "parameters": [{"name": "session_id", "in": "query", "schema": {"type": "string", "format": "uuid"}}, {"name": "activity_type", "in": "query", "schema": {"type": "string"}, "description": "Filter by activity type"}, {"name": "agent_namespace", "in": "query", "schema": {"type": "string"}}, {"name": "page", "in": "query", "schema": {"type": "integer"}}, {"name": "page_size", "in": "query", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Paginated list of artifacts", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedArtifactList"}}}}}}}, "/api/agent/artifacts/{artifactId}/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Artifacts"], "operationId": "getArtifact", "summary": "Get artifact", "description": "Returns a single artifact and marks it as read.", "parameters": [{"$ref": "#/components/parameters/ArtifactId"}], "responses": {"200": {"description": "Artifact details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatArtifact"}}}}, "404": {"description": "Artifact not found"}}}}, "/api/agent/artifacts/scorecard/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Artifacts"], "operationId": "getArtifactScorecard", "summary": "Get artifact scorecard", "description": "Returns artifact counts grouped by agent namespace - used for the notification badge counts.", "responses": {"200": {"description": "Artifact counts by namespace", "content": {"application/json": {"schema": {"type": "object", "properties": {"total": {"type": "integer"}, "unread": {"type": "integer"}, "by_namespace": {"type": "object", "additionalProperties": {"type": "integer"}}}}}}}}}}, "/api/agent/artifacts/activity-types/": {"servers": [{"url": "https://agent.searchatlas.com", "description": "A"}], "get": {"tags": ["AI Agent: Artifacts"], "operationId": "listArtifactActivityTypes", "summary": "List artifact activity types", "description": "Returns all available activity type values for use in the filter UI.", "responses": {"200": {"description": "List of activity types", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "properties": {"value": {"type": "string"}, "label": {"type": "string"}}}}}}}}}}, "/api/cg/v1/cloud-stack-contents/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "listCloudStacks", "summary": "List cloud stacks", "description": "Returns paginated cloud stack content records for the authenticated account.", "parameters": [{"name": "otto_project", "in": "query", "description": "Filter by OTTO project ID or hostname", "schema": {"type": "string"}}, {"name": "gbp_local_project", "in": "query", "description": "Filter by GBP Local Project ID", "schema": {"type": "integer"}}, {"name": "status__in", "in": "query", "description": "Comma-separated list of statuses to filter by", "schema": {"type": "string", "example": "Generated,Published"}}, {"name": "search", "in": "query", "description": "Search by target URL or keyword", "schema": {"type": "string"}}, {"name": "deploy_status", "in": "query", "description": "Filter to only deployable records (status=Generated)", "schema": {"type": "boolean"}}, {"name": "created_at__gte", "in": "query", "schema": {"type": "string", "format": "date-time"}}, {"name": "created_at__lte", "in": "query", "schema": {"type": "string", "format": "date-time"}}, {"$ref": "#/components/parameters/Page"}], "responses": {"200": {"description": "Paginated list of cloud stacks", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedCloudStackList"}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}}}, "/api/cg/v1/cloud-stack-contents/{id}/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "getCloudStack", "summary": "Get cloud stack detail", "description": "Returns a single cloud stack content record by ID.", "parameters": [{"$ref": "#/components/parameters/CloudStackId"}], "responses": {"200": {"description": "Cloud stack detail", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CloudStack"}}}}, "404": {"$ref": "#/components/responses/NotFound"}}}, "patch": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "updateCloudStack", "summary": "Update cloud stack", "description": "Partially updates a cloud stack record. Cannot change `otto_project` after initial assignment.", "parameters": [{"$ref": "#/components/parameters/CloudStackId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CloudStackUpdateRequest"}, "example": {"keywords": ["seo services", "link building"], "target_url": "https://example.com/services", "input_prompt": "Focus on local SEO benefits"}}}}, "responses": {"200": {"description": "Updated cloud stack", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CloudStack"}}}}, "400": {"description": "Validation error"}, "404": {"$ref": "#/components/responses/NotFound"}}}, "delete": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "deleteCloudStack", "summary": "Delete cloud stack", "description": "Soft-deletes a cloud stack record. Cannot be undone.", "parameters": [{"$ref": "#/components/parameters/CloudStackId"}], "responses": {"204": {"description": "Deleted"}, "404": {"$ref": "#/components/responses/NotFound"}}}}, "/api/cg/v1/cloud-stack-contents/{id}/build/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "post": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "buildCloudStack", "summary": "Build cloud stack content", "description": "Triggers async AI content generation for the cloud stack. Consumes Hyperdrive credits on first build. Returns task IDs.", "parameters": [{"$ref": "#/components/parameters/CloudStackId"}], "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"202": {"description": "Build task queued; returns array of task IDs", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}, "example": ["8f3a2c1d-4e5b-6789-abcd-ef0123456789"]}}}}, "400": {"description": "Cloud stack is missing required Knowledge Graph fields"}, "404": {"$ref": "#/components/responses/NotFound"}}}}, "/api/cg/v1/cloud-stack-contents/{id}/deploy/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "post": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "deployCloudStack", "summary": "Deploy cloud stack to providers", "description": "Publishes the generated cloud stack content to the specified cloud providers. Cloud stack must be in Generated, Unpublished, or Published status.", "parameters": [{"$ref": "#/components/parameters/CloudStackId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CloudStackDeployRequest"}, "example": {"cloud_stack_providers": [1, 2], "perform_variations": true}}}}, "responses": {"202": {"description": "Deploy task queued", "content": {"application/json": {"schema": {"type": "object", "properties": {"task_id": {"type": "string"}}}}}}, "400": {"description": "Cloud stack is not in an allowed status for deployment"}, "404": {"$ref": "#/components/responses/NotFound"}}}}, "/api/cg/v1/cloud-stack-contents/refresh-deploy-info/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "post": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "refreshCloudStackDeployInfo", "summary": "Refresh deploy info", "description": "Refreshes deployment status from cloud providers for the specified cloud stacks within an OTTO project.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CloudStackRefreshRequest"}, "example": {"otto_project": 42, "cloud_stack_contents": [101, 102]}}}}, "responses": {"204": {"description": "Refresh completed"}, "400": {"description": "Validation error"}}}}, "/api/cg/v1/cloud-stack-providers/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "listCloudStackProviders", "summary": "List cloud stack providers", "description": "Returns all active cloud providers available for deploying cloud stack content.", "responses": {"200": {"description": "List of active providers", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/CloudStackProvider"}}}}}}}}, "/api/cg/v1/html-templates/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "listHtmlTemplates", "summary": "List HTML templates", "description": "Returns available HTML templates for cloud stack content rendering, ordered by sort_order.", "parameters": [{"name": "lang", "in": "query", "description": "Language code to render preview URLs in the user's app language", "schema": {"type": "string", "example": "es"}}], "responses": {"200": {"description": "List of active HTML templates", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/HtmlTemplate"}}}}}}}}, "/api/cg/v1/cloud-provider-stack-contents/export/{params}": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Cloud Stacks"], "operationId": "exportCloudProviderStackContents", "summary": "Export cloud provider stack data", "description": "Returns a CSV export of deployed cloud provider stack content records. Pass filter params in the path.", "parameters": [{"name": "params", "in": "path", "required": true, "description": "URL-encoded query string with filter parameters (e.g. `otto_project=42&status=PUBLISHED`)", "schema": {"type": "string"}}], "responses": {"200": {"description": "CSV file download", "content": {"text/csv": {"schema": {"type": "string"}}}}}}}, "/api/cg/v1/press-release/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Press Release"], "operationId": "listPressReleases", "summary": "List press releases", "description": "Returns paginated press release records for the authenticated account. Only parent records are returned (not variations).", "parameters": [{"name": "otto_project", "in": "query", "description": "Filter by OTTO project ID or hostname", "schema": {"type": "string"}}, {"name": "gbp_local_project", "in": "query", "schema": {"type": "integer"}}, {"name": "status__in", "in": "query", "description": "Comma-separated list of statuses", "schema": {"type": "string", "example": "Generated,Published"}}, {"name": "search", "in": "query", "description": "Search by title, target URL, or keywords", "schema": {"type": "string"}}, {"name": "is_deleted", "in": "query", "schema": {"type": "boolean"}}, {"name": "created_at__gte", "in": "query", "schema": {"type": "string", "format": "date-time"}}, {"name": "created_at__lte", "in": "query", "schema": {"type": "string", "format": "date-time"}}, {"$ref": "#/components/parameters/Page"}], "responses": {"200": {"description": "Paginated list of press releases", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedPressReleaseList"}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}}, "post": {"tags": ["Signal Genesys: Press Release"], "operationId": "createPressRelease", "summary": "Create press release", "description": "Creates a new press release draft. Requires a Knowledge Graph with all 11 required business fields populated.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PressReleaseCreateRequest"}, "example": {"knowledge_graph": 55, "otto_project": 42, "target_url": "https://example.com/services", "target_keywords": ["seo services", "link building"], "generation_mode": "ai", "main_topic_subject": "Award-winning SEO platform", "content_type": "awards_accolades", "input_prompt": "Highlight our Q1 industry award"}}}}, "responses": {"201": {"description": "Press release created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PressRelease"}}}}, "400": {"description": "Validation error - missing Knowledge Graph fields or invalid target URL"}}}}, "/api/cg/v1/press-release/{id}/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Press Release"], "operationId": "getPressRelease", "summary": "Get press release", "description": "Returns a single press release by UUID.", "parameters": [{"$ref": "#/components/parameters/PressReleaseId"}], "responses": {"200": {"description": "Press release detail", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PressRelease"}}}}, "404": {"$ref": "#/components/responses/NotFound"}}}, "patch": {"tags": ["Signal Genesys: Press Release"], "operationId": "updatePressRelease", "summary": "Update press release", "description": "Partially updates a press release. `knowledge_graph` and `otto_project` cannot be changed after deployment.", "parameters": [{"$ref": "#/components/parameters/PressReleaseId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PressReleaseUpdateRequest"}}}}, "responses": {"200": {"description": "Updated press release", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PressRelease"}}}}, "400": {"description": "Validation error"}, "404": {"$ref": "#/components/responses/NotFound"}}}, "delete": {"tags": ["Signal Genesys: Press Release"], "operationId": "deletePressRelease", "summary": "Delete press release", "description": "Soft-deletes a press release. Returns 403 if the associated OTTO project is frozen.", "parameters": [{"$ref": "#/components/parameters/PressReleaseId"}], "responses": {"204": {"description": "Deleted"}, "403": {"description": "Cannot delete - associated project is frozen"}, "404": {"$ref": "#/components/responses/NotFound"}}}}, "/api/cg/v1/press-release/{id}/preview/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Press Release"], "operationId": "previewPressRelease", "summary": "Preview press release", "description": "Returns the full press release record for preview. Works for both AI-generated and manually written content.", "parameters": [{"$ref": "#/components/parameters/PressReleaseId"}], "responses": {"200": {"description": "Press release preview data", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PressRelease"}}}}, "404": {"$ref": "#/components/responses/NotFound"}}}}, "/api/cg/v1/press-release/{id}/build/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "post": {"tags": ["Signal Genesys: Press Release"], "operationId": "buildPressRelease", "summary": "Build press release content", "description": "Triggers async AI content generation. Only valid for AI generation mode - returns 400 for manual mode.", "parameters": [{"$ref": "#/components/parameters/PressReleaseId"}], "requestBody": {"required": false, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"202": {"description": "Build task queued; returns array of task IDs", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}}}}}, "400": {"description": "Invalid mode, missing required AI fields, or quota exceeded"}, "404": {"$ref": "#/components/responses/NotFound"}}}}, "/api/cg/v1/press-release/{id}/channels/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Press Release"], "operationId": "listPressReleaseChannels", "summary": "Get channels for a press release", "description": "Returns the distribution channels (with publication URLs and status) associated with a press release.", "parameters": [{"$ref": "#/components/parameters/PressReleaseId"}, {"$ref": "#/components/parameters/Page"}], "responses": {"200": {"description": "Paginated list of press release channels", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedPressReleaseChannelList"}}}}, "404": {"$ref": "#/components/responses/NotFound"}}}}, "/api/cg/v1/press-release/distributions/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Press Release"], "operationId": "listPressReleaseDistributions", "summary": "List distribution channels", "description": "Returns all available distribution channels with tier, credit cost, and publishing time information.", "parameters": [{"$ref": "#/components/parameters/Page"}], "responses": {"200": {"description": "Paginated list of distribution channels", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedPressReleaseDistributionList"}}}}}}}, "/api/cg/v1/press-release/content-types/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Press Release"], "operationId": "listPressReleaseContentTypes", "summary": "List content types", "description": "Returns available press release content types organized into Core Trophy and Secondary Trophy categories, with icons and descriptions.", "responses": {"200": {"description": "Content types grouped by category", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentTypeCategories"}}}}}}}, "/api/cg/v1/press-release/export-links/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "post": {"tags": ["Signal Genesys: Press Release"], "operationId": "exportPressReleaseLinks", "summary": "Export press release links", "description": "Triggers an async export of publication links for the given press releases. Returns a task ID to poll for results.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PressReleaseBulkExportRequest"}, "example": {"press_releases": [{"id": "550e8400-e29b-41d4-a716-446655440000", "channel_ids": [1, 2]}, {"id": "660f9511-f30c-52e5-b827-557766551111", "channel_ids": []}]}}}}, "responses": {"202": {"description": "Export task queued", "content": {"application/json": {"schema": {"type": "object", "properties": {"task_id": {"type": "string"}}}}}}, "400": {"description": "Validation error or press release not found for this account"}, "429": {"description": "Export rate limit exceeded"}}}}, "/api/cg/v1/press-release/{id}/deploy/signal-genesys/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "post": {"tags": ["Signal Genesys: Signal Genesys"], "operationId": "deployPressReleaseToSignalGenesys", "summary": "Publish via Signal Genesys", "description": "Submits the press release to Signal Genesys for distribution across selected channels. Consumes distribution credits.", "parameters": [{"$ref": "#/components/parameters/PressReleaseId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SignalGenesysDeployRequest"}, "example": {"genesys_category_id": "12", "distribution_ids": [1, 3], "variations": false, "override_profanity_check": false, "signal_boost_enabled": false}}}}, "responses": {"202": {"description": "Deploy task queued", "content": {"application/json": {"schema": {"type": "object", "properties": {"task_id": {"type": "string"}}}}}}, "400": {"description": "Insufficient credits or validation error"}, "404": {"$ref": "#/components/responses/NotFound"}}}}, "/api/cg/v1/press-release/signal-genesys/categories/": {"servers": [{"url": "https://sa.searchatlas.com", "description": "SG"}], "get": {"tags": ["Signal Genesys: Signal Genesys"], "operationId": "listSignalGenesysCategories", "summary": "List Signal Genesys categories", "description": "Returns the list of content categories from the Signal Genesys network. Response is cached for 2 hours.", "responses": {"200": {"description": "List of Signal Genesys categories", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SignalGenesysCategory"}}}}}}}}, "/backlink/projects/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Projects"], "operationId": "listProjects", "summary": "List all backlink projects", "description": "Returns all active backlink comparison projects for the authenticated user's account.", "responses": {"200": {"description": "List of projects", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Project"}}}}}}}, "post": {"tags": ["Backlink: Projects"], "operationId": "createProject", "summary": "Create a backlink project", "description": "Creates a new backlink comparison project with a primary website and optional competitor websites.\nTriggers asynchronous backlink data retrieval for all websites.\nReturns an error if a project with the same primary website already exists for this account.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectCreateRequest"}, "example": {"primary_website": "example.com", "competitor_websites": ["competitor1.com", "competitor2.com"]}}}}, "responses": {"201": {"description": "Project created successfully", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Project"}}}}, "400": {"description": "Project with same primary website already exists, or invalid hostnames"}, "429": {"description": "Insufficient refdomains quota"}}}}, "/backlink/projects/{project_id}/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Projects"], "operationId": "getProject", "summary": "Get project details", "description": "Returns the primary website and competitor websites with their backlink metrics.", "parameters": [{"$ref": "#/components/parameters/ProjectId"}], "responses": {"200": {"description": "Project details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Project"}}}}, "404": {"description": "Project not found"}}}}, "/backlink/projects/{project_id}/refdomains/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Refdomains"], "operationId": "getRefdomains", "summary": "List referring domains for a project", "description": "Returns paginated referring domains pointing to the project's primary website.\nSupports search, filtering by field ranges, and ordering.\n", "parameters": [{"$ref": "#/components/parameters/ProjectId"}, {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "schema": {"type": "integer", "default": 10}}, {"name": "search", "in": "query", "description": "Search phrase to filter by source_url or domain", "schema": {"type": "string"}}, {"name": "ordering", "in": "query", "description": "Field to order by. Prefix with `-` for descending. Example: `-citation_flow`", "schema": {"type": "string"}}, {"name": "domain_rating", "in": "query", "description": "Filter by domain rating range. Format: `min_to_max`. Example: `3to10`", "schema": {"type": "string"}}], "responses": {"200": {"description": "Paginated list of referring domains", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RefdomainsPaginatedResponse"}}}}}}}, "/backlink/projects/{project_id}/{competitor_id}/refdomains/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Refdomains"], "operationId": "getCompetitorRefdomains", "summary": "List referring domains for a competitor", "description": "Returns referring domains for a specific competitor website within the project.", "parameters": [{"$ref": "#/components/parameters/ProjectId"}, {"name": "competitor_id", "in": "path", "required": true, "schema": {"type": "integer"}, "description": "Competitor website ID within the project"}, {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "schema": {"type": "integer", "default": 10}}, {"name": "search", "in": "query", "schema": {"type": "string"}}, {"name": "ordering", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "Paginated referring domains for the competitor", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RefdomainsPaginatedResponse"}}}}}}}, "/backlink/refdomains-quota/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "post": {"tags": ["Backlink: Refdomains Quota"], "operationId": "checkRefdomainsQuota", "summary": "Check refdomains quota", "description": "Check if the user has enough refdomains quota to process the given URLs.\nReturns per-URL refdomain counts and whether quota is sufficient.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["urls"], "properties": {"urls": {"type": "array", "items": {"type": "string"}, "description": "List of URLs/domains to check quota for"}}, "example": {"urls": ["example.com", "competitor.com"]}}}}}, "responses": {"200": {"description": "Quota check result", "content": {"application/json": {"schema": {"type": "object", "properties": {"available_quota": {"type": "integer", "nullable": true, "description": "Remaining refdomains quota"}, "has_enough_quota": {"type": "boolean", "nullable": true, "description": "Whether the user has enough quota for all new URLs"}, "websites": {"type": "array", "items": {"type": "object", "properties": {"domain": {"type": "string"}, "refdomains_count": {"type": "integer"}, "customer_has_processed": {"type": "boolean", "description": "Whether this domain was already processed for this account"}}}}}}}}}}}}, "/backlink/backlink-research/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Research"], "operationId": "listBacklinkResearch", "summary": "List backlink research history", "description": "Returns all backlink research entries for the authenticated user, ordered by most recent.", "parameters": [{"name": "search", "in": "query", "description": "Search by URL", "schema": {"type": "string"}}], "responses": {"200": {"description": "List of research entries", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/BacklinkResearchListItem"}}}}}}}, "post": {"tags": ["Backlink: Backlink Research"], "operationId": "createBacklinkResearch", "summary": "Start backlink research", "description": "Initiates backlink research for a URL. Analyzes backlinks, referring domains,\nanchor text distribution, and top pages. Results are processed asynchronously.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BacklinkResearchCreateRequest"}, "example": {"url": "example.com", "mode": "domain"}}}}, "responses": {"200": {"description": "Research created or existing entry returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BacklinkResearchCreateResponse"}}}}, "429": {"description": "Insufficient backlink research quota"}}}}, "/backlink/backlink-research/{id}/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Research"], "operationId": "getBacklinkResearchDetail", "summary": "Get backlink research details", "description": "Returns detailed backlink research data including domain rating, URL metrics,\ntop anchor text, top linking domains, top linking pages, and top pages.\n", "parameters": [{"$ref": "#/components/parameters/ResearchId"}], "responses": {"200": {"description": "Research details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BacklinkResearchDetail"}}}}}}}, "/backlink/backlink-research/{id}/recrawl/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Research"], "operationId": "recrawlBacklinkResearch", "summary": "Re-crawl backlink research", "description": "Triggers a fresh backlink data pull for an existing research entry. Consumes quota.", "parameters": [{"$ref": "#/components/parameters/ResearchId"}], "responses": {"200": {"description": "Recrawl initiated", "content": {"application/json": {"schema": {"type": "integer", "example": 1, "description": "Returns 1 on success to confirm the recrawl was queued."}}}}, "429": {"description": "Insufficient quota"}}}}, "/backlink/backlink-research/{id}/view-all/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Research"], "operationId": "getBacklinkResearchViewAll", "summary": "Get detailed backlink data by context", "description": "Returns detailed backlink data for a specific context type (anchor text,\nlinking domains, linking pages, top pages) with pagination and date filtering.\n", "parameters": [{"$ref": "#/components/parameters/ResearchId"}, {"name": "context", "in": "query", "required": true, "description": "Type of data to retrieve", "schema": {"type": "string", "enum": ["anchor_text", "linking_domains", "linking_domains_new", "linking_domains_lost", "linking_domains_spam", "linking_pages", "linking_pages_new", "linking_pages_lost", "top_pages"]}}, {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}, {"name": "start_date", "in": "query", "description": "Filter by date range start (YYYY-MM-DD)", "schema": {"type": "string", "format": "date"}}, {"name": "end_date", "in": "query", "description": "Filter by date range end (YYYY-MM-DD)", "schema": {"type": "string", "format": "date"}}], "responses": {"200": {"description": "Paginated backlink data", "content": {"application/json": {"schema": {"type": "object", "properties": {"results": {"type": "array", "items": {"type": "object"}}, "count": {"type": "integer"}}}}}}}}}, "/backlink/backlink-research/{id}/external-linking-pages-count/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Research"], "operationId": "getExternalLinkingPagesCount", "summary": "Get external linking pages count", "description": "Returns the count of external pages linking to this research target's root domain.", "parameters": [{"$ref": "#/components/parameters/ResearchId"}], "responses": {"200": {"description": "External linking pages count", "content": {"application/json": {"schema": {"type": "object", "properties": {"external_linking_pages_count": {"type": "integer"}}}}}}}}}, "/backlink/backlink-research/{id}/{page_type}/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Research"], "operationId": "getBacklinkDrawerData", "summary": "Get linking pages for a specific domain or target page", "description": "Returns linking pages data for a specific linking domain or target page\nwithin a backlink research entry. Used for drawer/detail views.\n", "parameters": [{"$ref": "#/components/parameters/ResearchId"}, {"name": "page_type", "in": "path", "required": true, "schema": {"type": "string", "enum": ["linking-domain-pages", "target-page-pages", "anchor-text-pages"]}}, {"name": "linking_domain", "in": "query", "description": "Required for linking-domain-pages", "schema": {"type": "string"}}, {"name": "target_page", "in": "query", "description": "Required for target-page-pages", "schema": {"type": "string"}}, {"name": "anchor_text", "in": "query", "description": "Required for anchor-text-pages", "schema": {"type": "string"}}, {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}], "responses": {"200": {"description": "Linking pages data", "content": {"application/json": {"schema": {"type": "object", "properties": {"count": {"type": "integer", "description": "Total number of linking pages for this domain/page/anchor."}, "results": {"type": "array", "items": {"type": "object", "properties": {"source_url": {"type": "string", "description": "URL of the linking page."}, "domain_rating": {"type": "number", "nullable": true}, "anchor_text": {"type": "string", "nullable": true}, "is_follow": {"type": "boolean", "nullable": true}}}}}}}}}}}}, "/backlink/backlink-profile-analysis/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Profile Analysis"], "operationId": "listBacklinkProfileAnalysis", "summary": "List profile analysis history", "description": "Returns all backlink profile analyses for the authenticated user.", "parameters": [{"name": "search", "in": "query", "schema": {"type": "string"}}, {"name": "page", "in": "query", "schema": {"type": "integer"}}, {"name": "page_size", "in": "query", "schema": {"type": "integer"}}, {"name": "ordering", "in": "query", "description": "Order by field. Options: `searched_on`, `primary_website`, `-searched_on`, `-primary_website`", "schema": {"type": "string"}}], "responses": {"200": {"description": "Paginated list of profile analyses", "content": {"application/json": {"schema": {"type": "object", "properties": {"count": {"type": "integer"}, "results": {"type": "array", "items": {"$ref": "#/components/schemas/BacklinkProfileAnalysisListItem"}}}}}}}}}, "post": {"tags": ["Backlink: Backlink Profile Analysis"], "operationId": "createBacklinkProfileAnalysis", "summary": "Create backlink profile analysis", "description": "Compares backlink profiles of a primary website against competitor websites.\nEach website can be analyzed at `root_domain`, `subdomain`, or `page` scope.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProfileAnalysisCreateRequest"}, "example": {"primary_website": {"url": "example.com", "scope": "root_domain"}, "competitor_websites": [{"url": "competitor1.com", "scope": "root_domain"}, {"url": "competitor2.com", "scope": "root_domain"}]}}}}, "responses": {"200": {"description": "Analysis created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BacklinkProfileAnalysisListItem"}}}}, "429": {"description": "Insufficient quota"}}}}, "/backlink/backlink-profile-analysis/{id}/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Profile Analysis"], "operationId": "getBacklinkProfileAnalysis", "summary": "Get profile analysis results", "description": "Returns the full backlink profile comparison data for the given analysis.", "parameters": [{"$ref": "#/components/parameters/AnalysisId"}], "responses": {"200": {"description": "Profile comparison data", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "properties": {"competitor": {"type": "string", "description": "Competitor domain URL."}, "competitor_scope": {"type": "string", "description": "Scope used for this competitor (root_domain, subdomain, page)."}, "domain_authority": {"type": "number", "nullable": true}, "page_authority": {"type": "number", "nullable": true}, "root_domains_to_root_domain": {"type": "integer", "nullable": true}, "pages_to_root_domain": {"type": "integer", "nullable": true}}}}}}}}}}, "/backlink/backlink-gap-analysis/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Gap Analysis"], "operationId": "listBacklinkGapAnalysis", "summary": "List gap analysis history", "parameters": [{"name": "search", "in": "query", "schema": {"type": "string"}}, {"name": "page", "in": "query", "schema": {"type": "integer"}}, {"name": "page_size", "in": "query", "schema": {"type": "integer"}}, {"name": "ordering", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "Paginated list of gap analyses", "content": {"application/json": {"schema": {"type": "object", "properties": {"count": {"type": "integer"}, "results": {"type": "array", "items": {"$ref": "#/components/schemas/BacklinkGapAnalysisListItem"}}}}}}}}}, "post": {"tags": ["Backlink: Backlink Gap Analysis"], "operationId": "createBacklinkGapAnalysis", "summary": "Create backlink gap analysis", "description": "Finds referring domains linking to competitors but not to your primary website.\nUse `min_matching_targets` to filter by how many competitors a referring domain must link to.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GapAnalysisCreateRequest"}, "example": {"primary_website": {"url": "example.com", "scope": "root_domain"}, "competitor_websites": [{"url": "competitor1.com", "scope": "root_domain"}, {"url": "competitor2.com", "scope": "root_domain"}], "min_matching_targets": 1, "scope": "root_domain"}}}}, "responses": {"200": {"description": "Gap analysis created"}, "429": {"description": "Insufficient quota"}}}}, "/backlink/backlink-gap-analysis/{id}/": {"servers": [{"url": "https://backlink.searchatlas.com", "description": "BL"}], "get": {"tags": ["Backlink: Backlink Gap Analysis"], "operationId": "getBacklinkGapAnalysis", "summary": "Get gap analysis results", "description": "Returns paginated link gap data showing domains linking to competitors but not to you.", "parameters": [{"$ref": "#/components/parameters/GapAnalysisId"}, {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "schema": {"type": "integer", "default": 50}}], "responses": {"200": {"description": "Gap analysis results", "content": {"application/json": {"schema": {"type": "object", "properties": {"scope": {"type": "string", "enum": ["root_domain", "page"]}, "columns": {"type": "array", "items": {"type": "object", "properties": {"column_name": {"type": "string"}, "display_name": {"type": "string"}}}}, "values": {"type": "array", "description": "Each item is an array of column values corresponding to the columns array.", "items": {"type": "array", "items": {"type": "string"}}}}}}}}}}}, "/api/v1/customer-outreach/campaigns/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Campaigns"], "operationId": "listCampaigns", "summary": "List outreach campaigns", "description": "Returns all outreach campaigns for the authenticated user with pagination and metrics.", "parameters": [{"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "schema": {"type": "integer", "default": 20}}, {"name": "search", "in": "query", "schema": {"type": "string"}}, {"name": "ordering", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "Paginated list of outreach campaigns", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignListResponse"}}}}}}, "post": {"tags": ["Campaigns: Campaigns"], "operationId": "createCampaign", "summary": "Create an outreach campaign", "description": "Creates a new link building outreach campaign with target keywords, email configuration,\nand scheduling settings. Triggers async processing to find outreach opportunities.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignCreateRequest"}, "example": {"name": "Link Building - Running Shoes", "customer_id": 12345, "target_keywords": ["best running shoes", "running shoe reviews"], "linked_email_id": 42, "followup_email_ids": [43, 44], "otto_project_id": null}}}}, "responses": {"201": {"description": "Campaign created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Campaign"}}}}, "400": {"description": "Invalid keywords or email configuration"}}}}, "/api/v1/customer-outreach/campaigns/customer-emails/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Campaigns"], "operationId": "getCampaignsCustomerEmails", "summary": "Get customer linked emails", "description": "Returns all email accounts linked to the customer account for use in campaigns.", "responses": {"200": {"description": "List of linked email accounts", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/LinkedEmail"}}}}}}}}, "/api/v1/customer-outreach/campaigns/update-daily-limit-by-email/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Campaigns"], "operationId": "updateDailyEmailLimit", "summary": "Update daily send limit for a linked email", "description": "Updates the daily email sending limit for a specific linked email account.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateDailyLimitRequest"}, "example": {"id": 42, "daily_limit_by_email": 50}}}}, "responses": {"200": {"description": "Daily limit updated"}, "400": {"description": "Invalid limit or email ID"}}}}, "/api/v1/customer-outreach/campaigns/customer-projects/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Campaigns"], "operationId": "getCampaignFolders", "summary": "List campaign folders/projects", "description": "Returns all campaign project folders for the authenticated customer.", "responses": {"200": {"description": "List of campaign project folders", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/CampaignFolder"}}}}}}}}, "/api/v1/customer-outreach/campaigns/create-project/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Campaigns"], "operationId": "createCampaignFolder", "summary": "Create a campaign folder", "description": "Creates a new project folder to organize outreach campaigns.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignFolderCreateRequest"}, "example": {"name": "Q1 Link Building", "customer_id": 12345}}}}, "responses": {"201": {"description": "Campaign folder created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignFolder"}}}}}}}, "/api/v1/customer-outreach/campaigns/destroy-project/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "delete": {"tags": ["Campaigns: Campaigns"], "operationId": "deleteCampaignFolder", "summary": "Delete a campaign folder", "description": "Deletes a campaign project folder.", "parameters": [{"name": "id", "in": "query", "required": true, "schema": {"type": "integer"}, "description": "Campaign folder ID to delete"}], "responses": {"204": {"description": "Folder deleted"}}}}, "/api/v1/customer-outreach/campaigns/global-blacklist/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Campaigns"], "operationId": "getGlobalBlockList", "summary": "Get global blacklist", "description": "Returns the global domain/email blacklist - domains excluded from all campaigns for this customer.", "responses": {"200": {"description": "Global blacklist entries", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlacklistResponse"}}}}}}}, "/api/v1/customer-outreach/campaigns/update-global-blacklist/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "put": {"tags": ["Campaigns: Campaigns"], "operationId": "updateGlobalBlockList", "summary": "Update global blacklist", "description": "Replaces the global domain/email blacklist for this customer account.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlacklistUpdateRequest"}, "example": {"blacklisted_domains": ["spam.com", "example-no-contact.com"]}}}}, "responses": {"200": {"description": "Global blacklist updated"}}}}, "/api/v1/customer-outreach/campaigns/remove-linked-email/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "delete": {"tags": ["Campaigns: Campaigns"], "operationId": "deleteConnectedEmail", "summary": "Remove a linked email account", "description": "Disconnects and removes a linked SMTP or OAuth email account from the customer's configuration.", "parameters": [{"name": "linked_email_id", "in": "query", "required": true, "schema": {"type": "integer"}, "description": "ID of the linked email to remove"}], "responses": {"204": {"description": "Email account removed"}}}}, "/api/v1/customer-outreach/campaigns/{id}/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Campaigns"], "operationId": "getCampaignChartData", "summary": "Get campaign chart data", "description": "Returns time-series performance data for a campaign (emails sent, opens, replies) for charting.", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "responses": {"200": {"description": "Campaign chart data", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignChartData"}}}}, "404": {"description": "Campaign not found"}}}, "put": {"tags": ["Campaigns: Campaigns"], "operationId": "updateCampaign", "summary": "Update a campaign", "description": "Updates campaign settings including name, keywords, and email configuration.", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignUpdateRequest"}}}}, "responses": {"200": {"description": "Campaign updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Campaign"}}}}}}, "delete": {"tags": ["Campaigns: Campaigns"], "operationId": "deleteCampaign", "summary": "Delete a campaign", "description": "Permanently deletes an outreach campaign and all associated opportunities, contacts, and scheduling data.", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "responses": {"204": {"description": "Campaign deleted"}}}}, "/api/v1/customer-outreach/campaigns/{id}/get-settings/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Campaigns"], "operationId": "getCampaignSettings", "summary": "Get campaign sending settings", "description": "Returns the sending schedule settings for a campaign including daily limits,\nactive days of the week, send time window, and counts of scheduled opportunities/contacts.\n", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "responses": {"200": {"description": "Campaign settings with scheduled opportunity and contact counts", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignSettings"}}}}}}}, "/api/v1/customer-outreach/campaigns/{id}/campaign-blacklist/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Campaigns"], "operationId": "getCampaignBlockList", "summary": "Get per-campaign blacklist", "description": "Returns the domain/email blacklist specific to this campaign.", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "responses": {"200": {"description": "Campaign-level blacklist", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlacklistResponse"}}}}}}}, "/api/v1/customer-outreach/campaigns/{id}/update-campaign-blacklist/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "put": {"tags": ["Campaigns: Campaigns"], "operationId": "updateCampaignBlockList", "summary": "Update per-campaign blacklist", "description": "Replaces the domain/email blacklist for a specific campaign.", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlacklistUpdateRequest"}}}}, "responses": {"200": {"description": "Campaign blacklist updated"}}}}, "/api/v1/customer-outreach/campaigns/{id}/import-domains/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Campaigns"], "operationId": "importOpportunitiesFromCSV", "summary": "Import opportunities from CSV", "description": "Imports outreach opportunities into a campaign from a CSV file upload.\nEach row should contain at minimum a domain/URL for the outreach target.\n", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"type": "object", "required": ["file"], "properties": {"file": {"type": "string", "format": "binary", "description": "CSV file with domain/URL and optional contact columns"}}}}}}, "responses": {"200": {"description": "Opportunities imported", "content": {"application/json": {"schema": {"type": "object", "properties": {"imported_count": {"type": "integer"}, "skipped_count": {"type": "integer"}}}}}}}}}, "/api/v1/customer-outreach/campaigns/{id}/send-outreach-emails/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Opportunities"], "operationId": "sendBulkOutreachEmails", "summary": "Send bulk outreach emails for a campaign", "description": "Sends outreach emails to multiple scheduled opportunities in a campaign simultaneously.\nRequires a linked email, subject, and body template. Optional context variables\nare available for personalization (e.g., `{first_name}`, `{domain}`).\n", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkSendOutreachEmailsRequest"}, "example": {"opportunities": [101, 102, 103], "linked_email_id": 42, "subject": "Link collaboration opportunity - {domain}", "body": "Hi {first_name},\n\nI came across your site and thought we might collaborate...", "context": {}}}}}, "responses": {"200": {"description": "Bulk emails queued for sending"}}}}, "/api/v1/customer-outreach/campaigns/{id}/schedule-opportunities/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Opportunities"], "operationId": "scheduleOpportunities", "summary": "Schedule opportunities for outreach", "description": "Marks a set of opportunities as scheduled, adding them to the campaign's\nautomated sending queue to be sent according to the campaign's schedule settings.\n", "parameters": [{"$ref": "#/components/parameters/CampaignId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OpportunitiesIdsRequest"}, "example": {"opportunities": [101, 102, 103]}}}}, "responses": {"200": {"description": "Opportunities scheduled"}}}}, "/api/v1/customer-outreach/campaigns/{campaign}/update-settings/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "put": {"tags": ["Campaigns: Campaigns"], "operationId": "updateCampaignSendingSettings", "summary": "Update campaign sending settings", "description": "Updates the automated sending schedule for a campaign including daily limit,\nsend time window (send_from / send_to hours), and active days of the week.\n", "parameters": [{"name": "campaign", "in": "path", "required": true, "schema": {"type": "integer"}, "description": "Campaign ID"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignSettingsUpdateRequest"}, "example": {"is_active": true, "daily_limit": 20, "send_from": "08:00", "send_to": "18:00", "days_of_week": ["monday", "tuesday", "wednesday", "thursday", "friday"]}}}}, "responses": {"200": {"description": "Campaign settings updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignSettings"}}}}}}}, "/api/v1/customer-outreach/campaigns/customer-templates/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Templates"], "operationId": "listEmailTemplates", "summary": "List email templates", "description": "Returns all email templates available for the authenticated customer's campaigns.", "responses": {"200": {"description": "List of email templates", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/EmailTemplate"}}}}}}}}, "/api/v1/customer-outreach/campaigns/create-template/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Templates"], "operationId": "createEmailTemplate", "summary": "Create an email template", "description": "Creates a new reusable email template. Templates support variable substitution\nusing `{variable_name}` syntax (e.g., `{first_name}`, `{domain}`, `{keyword}`).\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmailTemplateCreateRequest"}, "example": {"name": "Guest Post Pitch", "subject": "Guest post opportunity for {domain}", "body": "Hi {first_name},\n\nI'd love to contribute a guest post to your site..."}}}}, "responses": {"201": {"description": "Template created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmailTemplate"}}}}}}}, "/api/v1/customer-outreach/campaigns/update-template/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "put": {"tags": ["Campaigns: Templates"], "operationId": "updateEmailTemplate", "summary": "Update an email template", "description": "Updates an existing email template's name, subject, or body.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmailTemplateUpdateRequest"}}}}, "responses": {"200": {"description": "Template updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmailTemplate"}}}}}}}, "/api/v1/customer-outreach/campaigns/destroy-template/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "delete": {"tags": ["Campaigns: Templates"], "operationId": "deleteEmailTemplate", "summary": "Delete an email template", "description": "Permanently removes an email template from the customer's template library.", "parameters": [{"name": "template_id", "in": "query", "required": true, "schema": {"type": "integer"}, "description": "Template ID to delete"}], "responses": {"204": {"description": "Template deleted"}}}}, "/api/v1/customer-outreach/opportunities/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "get": {"tags": ["Campaigns: Opportunities"], "operationId": "listOpportunities", "summary": "List outreach opportunities", "description": "Returns outreach opportunities (discovered websites to contact) for a campaign.\nEach opportunity has contact data, domain metrics, and scheduling status.\n", "parameters": [{"name": "campaign_id", "in": "query", "required": true, "schema": {"type": "integer"}, "description": "Campaign ID to list opportunities for"}, {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "schema": {"type": "integer", "default": 25}}, {"name": "search", "in": "query", "schema": {"type": "string"}}, {"name": "ordering", "in": "query", "schema": {"type": "string"}}, {"name": "is_scheduled", "in": "query", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Paginated list of outreach opportunities", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OpportunityListResponse"}}}}}}}, "/api/v1/customer-outreach/opportunities/{id}/send-outreach-emails/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Opportunities"], "operationId": "sendOutreachEmailToOpportunity", "summary": "Send outreach email to a specific opportunity", "description": "Sends an outreach email to all contacts associated with a specific opportunity.\nRequires a linked email account, subject, and body. Supports variable substitution.\n", "parameters": [{"$ref": "#/components/parameters/OpportunityId"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SendOutreachEmailRequest"}, "example": {"linked_email_id": 42, "subject": "Collaboration opportunity", "body": "Hi {first_name}, I wanted to reach out about a link exchange...", "context": {}}}}}, "responses": {"200": {"description": "Email sent", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SentOutreachEmailResponse"}}}}}}}, "/api/v1/customer-outreach/opportunities/{id}/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "delete": {"tags": ["Campaigns: Opportunities"], "operationId": "deleteOpportunity", "summary": "Delete an opportunity", "description": "Removes an outreach opportunity from a campaign. Any sent emails are preserved in the inbox.", "parameters": [{"$ref": "#/components/parameters/OpportunityId"}], "responses": {"204": {"description": "Opportunity deleted"}}}}, "/api/v1/customer-outreach/contacts/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Contacts"], "operationId": "saveContact", "summary": "Create a contact for an opportunity", "description": "Creates a new contact associated with an outreach opportunity. Contacts are the\nindividual people at a website who will receive outreach emails.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContactCreateRequest"}, "example": {"opportunity_id": 101, "email_address": "editor@example.com", "first_name": "Jane", "last_name": "Smith", "title": "Content Editor", "linkedin_url": "https://linkedin.com/in/janesmith"}}}}, "responses": {"201": {"description": "Contact created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Contact"}}}}, "400": {"description": "Invalid email address or duplicate"}}}}, "/api/v1/customer-outreach/contacts/{contactId}/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "delete": {"tags": ["Campaigns: Contacts"], "operationId": "deleteContact", "summary": "Delete a contact", "description": "Removes a contact from an opportunity.", "parameters": [{"$ref": "#/components/parameters/ContactId"}], "responses": {"204": {"description": "Contact deleted"}}}}, "/api/v1/customer-outreach/contacts/bulk-delete-contacts/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Contacts"], "operationId": "bulkDeleteContacts", "summary": "Bulk delete contacts", "description": "Deletes multiple contacts in a single request.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkDeleteContactsRequest"}, "example": {"contact_ids": [201, 202, 203]}}}}, "responses": {"200": {"description": "Contacts deleted"}}}}, "/api/v1/customer-outreach/campaigns/update-milestone/": {"servers": [{"url": "https://keyword.searchatlas.com", "description": "C"}], "post": {"tags": ["Campaigns: Inbox"], "operationId": "updateMilestone", "summary": "Update conversation milestone", "description": "Updates the relationship milestone for an outreach conversation.\nMilestones track the progress of a link building negotiation.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateMilestoneRequest"}, "example": {"id": 55, "milestone": "negotiation"}}}}, "responses": {"200": {"description": "Milestone updated"}}}}, "/api/pages/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages"], "operationId": "listPages", "summary": "List all pages", "description": "Returns a paginated list of articles/pages for the authenticated user's account.\nSupports filtering by status, project, brand vault, and ordering.\n", "parameters": [{"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}, {"name": "page_size", "in": "query", "schema": {"type": "integer", "default": 10}}, {"name": "search", "in": "query", "description": "Search by title or URL", "schema": {"type": "string"}}, {"name": "ordering", "in": "query", "description": "Field to sort by. Prefix with `-` for descending. E.g. `-created_at`", "schema": {"type": "string"}}, {"name": "status", "in": "query", "description": "Filter by article status", "schema": {"type": "string", "enum": ["draft", "in_progress", "ready_to_publish", "published", "archived"]}}, {"name": "project", "in": "query", "description": "Filter by project ID", "schema": {"type": "integer"}}, {"name": "brand_vault_uuid", "in": "query", "description": "Filter by Brand Vault UUID", "schema": {"type": "string", "format": "uuid"}}, {"name": "is_repolling", "in": "query", "schema": {"type": "boolean", "default": false}}], "responses": {"200": {"description": "Paginated list of pages", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PageListResponse"}}}}}}, "post": {"tags": ["Content Assistant: Pages"], "operationId": "createPage", "summary": "Create a new page", "description": "Creates a new article. Optionally crawls a target URL for content, accepts\na keywords list and location for SEO scoring, and can trigger AI outline\ngeneration immediately.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PageCreateRequest"}, "example": {"title": "Best Running Shoes 2025", "target_url": "https://example.com/running-shoes", "keywords_list": ["running shoes", "best running shoes"], "country_code": "us", "mode_of_creation": "ai"}}}}, "responses": {"201": {"description": "Page created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PageSmall"}}}}, "429": {"description": "Article quota exceeded"}}}}, "/api/pages/summary-stats/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages"], "operationId": "getPagesSummaryStats", "summary": "Get pages summary statistics", "description": "Returns aggregate counts of articles grouped by status for the authenticated account.", "responses": {"200": {"description": "Summary statistics", "content": {"application/json": {"schema": {"type": "object", "properties": {"total": {"type": "integer"}, "draft": {"type": "integer"}, "in_progress": {"type": "integer"}, "ready_to_publish": {"type": "integer"}, "published": {"type": "integer"}}}}}}}}}, "/api/pages/bulk-update/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "patch": {"tags": ["Content Assistant: Pages"], "operationId": "bulkUpdatePages", "summary": "Bulk update pages", "description": "Update shared fields (due_date, status, assigned_to_users, project_name, brand_vault_uuid)\nacross multiple pages at once.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkUpdateRequest"}}}}, "responses": {"200": {"description": "Pages updated"}}}, "delete": {"tags": ["Content Assistant: Pages"], "operationId": "bulkDeletePages", "summary": "Bulk delete pages", "description": "Soft-deletes multiple pages by UUID list.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["uuids"], "properties": {"uuids": {"type": "array", "items": {"type": "string", "format": "uuid"}}}}}}}, "responses": {"204": {"description": "Pages deleted"}}}}, "/api/pages/{uuid}/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages"], "operationId": "getPage", "summary": "Get page by UUID", "description": "Returns full page data including editor state, cleaned HTML, keyword data, and WP fields.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}, {"name": "is_repolling", "in": "query", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Page detail", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PageDetail"}}}}, "404": {"description": "Page not found"}}}, "put": {"tags": ["Content Assistant: Pages"], "operationId": "updatePageHostname", "summary": "Update page hostname", "description": "Full update of a page. Primarily used to update the associated hostname.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"hostname": {"type": "string", "description": "Domain hostname to associate with this page"}}}}}}, "responses": {"200": {"description": "Page updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PageDetail"}}}}}}, "patch": {"tags": ["Content Assistant: Pages"], "operationId": "patchPage", "summary": "Partially update a page", "description": "Update one or more page fields: title, editor_state, cleaned_html, status,\nmeta_title, meta_desc, hero_image, hero_image_alt_text, language, version, etc.\n", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PagePatchRequest"}}}}, "responses": {"200": {"description": "Page updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PageDetail"}}}}, "409": {"description": "Concurrent modification conflict (version mismatch)"}}}, "delete": {"tags": ["Content Assistant: Pages"], "operationId": "deletePage", "summary": "Delete a page", "description": "Soft-deletes the page. The page is no longer returned in list results but data is preserved for recovery.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "responses": {"204": {"description": "Page deleted"}, "404": {"description": "Page not found"}}}}, "/api/pages/{uuid}/hero-image/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "patch": {"tags": ["Content Assistant: Pages"], "operationId": "updateHeroImage", "summary": "Update hero image", "description": "Set or clear the hero image and its alt text for a page.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"hero_image": {"type": "string", "format": "uri", "nullable": true}, "hero_image_alt_text": {"type": "string"}}}}}}, "responses": {"200": {"description": "Hero image updated"}}}}, "/api/pages/{uuid}/small-keywords-data/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages - Keywords"], "operationId": "getPageSmallKeywordsData", "summary": "Get compact keywords and focus terms data", "description": "Returns a lightweight snapshot of the page's SEO score, focus terms,\nclustered focus terms, and questions. Used to initialize the editor sidebar.\n", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "responses": {"200": {"description": "Compact keyword data", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SmallKeywordsData"}}}}}}}, "/api/pages/{uuid}/keywords-data/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages - Keywords"], "operationId": "getPageKeywordsData", "summary": "Get full keywords data", "description": "Returns the full keyword scoring data: score, focus terms, clustered terms,\nquestions, competitors, SERP schema, and suggested word-count range.\n", "parameters": [{"$ref": "#/components/parameters/PageUuid"}, {"name": "should_rescore", "in": "query", "schema": {"type": "boolean", "default": false}, "description": "Force re-scoring of focus terms"}], "responses": {"200": {"description": "Full keyword data", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/KeywordsData"}}}}}}}, "/api/pages/{uuid}/edit-keywords-data/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "post": {"tags": ["Content Assistant: Pages - Keywords"], "operationId": "editPageKeyword", "summary": "Add or edit target keyword", "description": "Add a new target keyword to the page, or replace an existing one\n(`edited_id`). Provide either `country_code` or `location` + `location_id`.\n", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EditKeywordRequest"}}}}, "responses": {"200": {"description": "Keyword added/updated"}}}, "delete": {"tags": ["Content Assistant: Pages - Keywords"], "operationId": "deletePageKeyword", "summary": "Remove target keyword", "description": "Remove a target keyword from the page.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["target_keyword"], "properties": {"target_keyword": {"type": "object", "properties": {"keyword": {"type": "string"}, "country_code": {"type": "string"}, "location": {"type": "string"}, "location_id": {"type": "integer"}}}}}}}}, "responses": {"200": {"description": "Keyword removed"}}}}, "/api/pages/{uuid}/keyword-suggestions/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages - Keywords"], "operationId": "getPageKeywordSuggestions", "summary": "Get keyword suggestions (v1)", "description": "Returns a list of keyword suggestions based on the page title and content.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "responses": {"200": {"description": "Keyword suggestions list", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "properties": {"keyword": {"type": "string"}, "search_volume": {"type": "integer", "nullable": true}, "difficulty": {"type": "number", "nullable": true}}}}}}}}}}, "/api/pages/{uuid}/v2/keyword-suggestions/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages - Keywords"], "operationId": "getPageKeywordSuggestionsV2", "summary": "Get keyword suggestions (v2)", "description": "Enhanced keyword suggestions with additional scoring signals.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "responses": {"200": {"description": "Enhanced keyword suggestions", "content": {"application/json": {"schema": {"type": "object", "properties": {"results": {"type": "array", "items": {"type": "object"}}}}}}}}}}, "/api/pages/{uuid}/analysis/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages - Analysis"], "operationId": "getPageAnalysis", "summary": "Get page SEO analysis", "description": "Returns on-page SEO analysis, technical issues, and content recommendations.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "responses": {"200": {"description": "Page analysis results", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PageAnalysis"}}}}}}, "post": {"tags": ["Content Assistant: Pages - Analysis"], "operationId": "analyzePageByUrl", "summary": "Analyze a specific URL for a page", "description": "Triggers analysis of the page against a specific live URL.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string", "format": "uri"}}}}}}, "responses": {"200": {"description": "Analysis triggered"}}}}, "/api/pages/{uuid}/recrawl-page/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages - Analysis"], "operationId": "recrawlPage", "summary": "Re-crawl page URL", "description": "Triggers a fresh crawl of the page's associated URL to update its HTML content. Returns 400 if no html_analysis record exists for the page yet.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}], "responses": {"200": {"description": "Recrawl queued", "content": {"application/json": {"schema": {"type": "object", "description": "Empty object on success"}}}}, "400": {"description": "Page has no associated URL to recrawl"}}}}, "/api/pages/{uuid}/{status}/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "post": {"tags": ["Content Assistant: Pages"], "operationId": "setArticleStatus", "summary": "Set article status via action endpoint", "description": "Update article status using action-style endpoints (e.g. `draft`, `published`).", "parameters": [{"$ref": "#/components/parameters/PageUuid"}, {"name": "status", "in": "path", "required": true, "schema": {"type": "string", "enum": ["draft", "in_progress", "ready_to_publish", "published", "archived"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"status": {"type": "string"}}}}}}, "responses": {"200": {"description": "Status updated"}}}}, "/api/pages/{uuid}/internallink-suggestions/": {"servers": [{"url": "https://ca.searchatlas.com", "description": "CA"}], "get": {"tags": ["Content Assistant: Pages - Internal Links"], "operationId": "getInternalLinkSuggestions", "summary": "Get internal link suggestions (v1)", "description": "Returns internal link opportunities for the page based on content analysis.", "parameters": [{"$ref": "#/components/parameters/PageUuid"}, {"name": "should_reprocess", "in": "query", "schema": {"type": "boolean", "default": false}, "description": "Force reprocessing of suggestions"}], "responses": {"200": {"description": "Internal link suggestions", "content": {"application/json": {"sch
[...]
